<section class="my-bio bg-secondary bg-gradient">
    <div class="container">
            <div class="card my-4">
                <div class="card-header post-heading">
                    <h4># <%=@post.Title%></h4> <h4>Comments: <%=@post.comments_count%> Likes: <%=@post.likes_count%></h4>
                </div>
                <div class="card-body"> <p><%=@post.text%></p></div>
                <div class="media-info">
                    <ul>
                        <li><a href="#">Comments: <%=@post.comments_counter%></a></li>
                        <li><a href="#">Likes: <%=@post.likes_counter%></a></li>
                    </ul>
                </div>
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Comments
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <!-- Single comment-->
                                <%if @post.recent_comment.count > 0%>
                                    <% @post.recent_comment.each do |comment| %>
                                        <div class="d-flex mb-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                    src="<%=comment.user.photo%>" width="50" height="50" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold"><%=comment.user.name%></div>
                                                <p><%=comment.text%></p>
                                            </div>
                                        </div>
                                    <%end%>
                                <%else%>
                                    <h4 class='noComments'>Be the first to comment</h4>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="text-center">
            <a href="/users/<%=@post.author_id%>/posts"><button class="btn btn-success" type="button">Back to Post</button></a>
        </div>
    </div>
</section>